.posts {
  padding: 30px;
  background-color: #282c34;
  color: white;
}

.posts p {
  border-radius: 15px;
  background-color: #ff7e26;
  color: white;
  border: 1px solid #ff7e26;
  vertical-align: middle;
  padding: 10px;
  font-size: 25px;
}

.posts p:hover {
    background-color: #282c34;
    color: #ff7e26;
    border: 1px solid #ff7e26;
}
