.detail {
    padding: 50px;
}

.detail h1 {
    background-color: #ff7e26;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.detail p {
    background-color: white;
    color: #282c34;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    height: 300px;
}